html, body {
    height:100%;
    background-color: #060608;
    color: #dfdfdf;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.countdown-container{
    height: 10vw;
}
.choice-container{
    display: flex;
}
.choice-container * {
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width: 500px) {
  
    .choice-container🌛,
    .choice-container:nth-child(even),
    .choice_container🌜 {
        width: 70%;
    }
}

