html, body {
    height:100%;
    background-color: #060608;
    color: #dfdfdf;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.countdown-container{
    height: 10vw;
}
.choice-container{
    display: flex;
}
.choice-container button {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    padding: 10px;
    margin: 5px;

}
@media screen and (max-width: 500px) {
  
    .choice-container🌛,
    .choice-container:nth-child(even),
    .choice_container🌜 {
        width: 70%;
    }
}
.icon{
    width: 50px;
    height: 50px;
}